* {
  padding: 0%;
  margin: 0%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

section#dashboard_section {
  display: none;
}

section#game_section {
  display: none;
}

section > .login-bg-image {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1611996575749-79a3a250f948?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section#dashboard_section {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/10/wii.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#login_section .login-box {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}
section#login_section .login-box .info {
  color: #ffffffc7;
  text-shadow: 2px 2px 3px #333;
}

.card {
  background-color: #ffffff90;
  padding: 80px 30px;
  border-radius: 20px !important;
  box-shadow: 2px 2px 25px #5c5c5c45;
}
div#gamePad {
  background-color: #ccc;
  border-radius: 20px;
  padding: 30px 10px;
}

section#login_section .login-box .loginBtn {
  width: 100%;
  text-align: center;
}
section#login_section .login-box .loginBtn span.image img {
  width: 80px;
  border-radius: 10px;
}

.baloon-container {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  overflow: hidden;
}

.baloon {
  width: calc(100% - 24px);
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
.baloon.baloon-red {
  background-color: red;
}
.baloon.baloon-green {
  background-color: green;
}
.baloon.baloon-blue {
  background-color: blue;
}
.baloon.baloon-yellow {
  background-color: yellow;
}
.baloon.baloon-purple {
  background-color: purple;
}
/* baloon-text-${colors[random]} */
.baloon-text-red {
  color: red;
}
.baloon-text-green {
  color: green;
}
.baloon-text-blue {
  color: blue;
}
.baloon-text-yellow {
  color: yellow;
}
.baloon-text-purple {
  color: purple;
}

span.baloon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
}

.d-none {
  display: none;
}

.d-block-imp {
  display: block !important;
}
