*{
    margin: 0;
    padding: 0;
}
.piano-row.row {
    /* display: block; */
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piano-row.row.parallex {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.piano-row ul {
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
}
.piano-row ul li {
    list-style: none;
    margin: 0 15px;
}
.piano-row ul li div.key {
    display: flex;
    width: 100px;
    height: 80px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 45px;
    text-transform: capitalize;
    background: linear-gradient(45deg, #803c4acc, #1e0a21cc);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    border: 3px solid #110519;
    transition: 0.250s;
}

.key.playing {
    background: linear-gradient(45deg, #1e0a21, #803c4a) !important;
    border-color: #ce5b5a !important;
}

@media only screen and (max-width:975px){
    .piano-row ul li {
        list-style: none;
        margin: 2px 2px;
    }
    .piano-row ul li div.key {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: #ccc;
        justify-content: center;
        align-items: center;
        font-family: 'Paytone One', sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        background: linear-gradient(45deg, #803c4acc, #1e0a21cc);
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        border: 3px solid #110519;
    }

}

.row.clock-row {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background: linear-gradient(90deg, #321935, #865e8f); */
    background-color: #15061b;
}
.row.clock-row h1 {
    text-align: center;
    font-family: 'Changa', sans-serif;
    font-size: 60px;
    font-weight: 900;
}
.row.clock-row .clock-time {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #722c30, #e58877);
}

span.clock-hour {-webkit-text-stroke: 2px #f5f5f5; /* width and color */}
span.clock-minute {-webkit-text-stroke: 2px #f5f5f5; /* width and color */}
span.clock-second {-webkit-text-stroke: 2px #f5f5f5; /* width and color */}
span.clock-colon {-webkit-text-stroke: 2px #f5f5f5; /* width and color */}

.dates-row {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}