*{
    margin: 0;
    padding: 0;
}
.piano-row.row {
    /* display: block; */
    width: 100%;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.piano-row.row.parallex {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.piano-row ul {
    display: flex;
    /* justify-content: space-between; */
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
}
.piano-row ul li {
    list-style: none;
    margin: 0 15px;
}
.piano-row ul li div.key {
    display: flex;
    width: 100px;
    height: 80px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 45px;
    text-transform: capitalize;
    background: linear-gradient(45deg, #803c4a, #1e0a21);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    border: 3px solid #110519;
}

.key.playing {
    background: linear-gradient(45deg, #1e0a21, #803c4a) !important;
    border-color: #ce5b5a !important;
}

@media only screen and (max-width:975px){
    .piano-row ul li {
        list-style: none;
        margin: 2px 2px;
    }
    .piano-row ul li div.key {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: #ccc;
        justify-content: center;
        align-items: center;
        font-family: 'Paytone One', sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        background: linear-gradient(45deg, #803c4a, #1e0a21);
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        border: 3px solid #110519;
    }

}